*.emSession
*.jlink

*.o
*.d
*.ind
*.ld
*.elf
*.hex
*.map

*.mp4
*.mp3

application/solution/Output/*
bootloader/solution/Output/*
.vscode/settings.json

application/solution/*.emSession
application/solution/*.jlink
bootloader/solution/*.emSession
bootloader/solution/*.jlink